:root {

  --cor-primaria: #005f73;
  --cor-secundaria: #94d2bd;
  --cor-fundo: #fefae0;
  --cor-texto: #000;
  --fonte: 'Segoe UI', sans-serif;
  
}

* {
  
  height: auto;
  padding: auto;
  box-sizing: border-box;
  
}

body {
  font-family: var(--fonte);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  line-height: 1.6;
  padding: 0 1rem;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  margin: 0; 
}

header {
  background: var(--cor-primaria);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  border-radius: 5px;
 margin-top: 2rem;
 border-color: #000;
  border-style: solid;
  border-width: 4px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a {
   color: white; 
  text-decoration: none;
  font-weight: bold; 
  font-size: 1.5rem;
  padding: 0.5rem 1rem; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

nav ul li a:hover {
  background-color: var(--cor-secundaria); 
  color: var(--cor-primaria); 
  text-decoration: underline; 
}

main {
  border-radius: 5px;
  margin-top: 2rem;
  width: auto;
  padding: 2rem 0;
  background-color: rgb(42, 86, 168);
  flex: 1; 
}

.logo {
  justify-content: center;
  margin-bottom: 2rem;
  height: 150px;
}

.hero, .solucao{
  
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  max-width: 95%;
  margin: 0 auto;
  font-size: 1.1rem;
}



.img-index img {

  display: block; 
  max-width: 100%;
  height: auto; 
  margin: 0 auto; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 5, 10);

}

.duvidas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.duvidas p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--cor-texto);
  text-align: center;
  background-color: var(--cor-fundo);
  border-radius: 5px;
  padding: 0.5rem;
  width: 50%;
  margin: 0 auto;
  border-color: var(--cor-texto);
  border-style: solid;
  border-width: 3px;
}

.integrantes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
